@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.ant-spin-dot-item {
  background-color: #23a74a !important;
}



.swiper-pagination {
  position: absolute;
  bottom: 15px !important;
}

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin-left: 5px !important;
    background: #fff !important;
  }

  .swiper-navigation-bullet {
    background: #fff !important;
    --swiper-navigation-size: 30px !important;
  }

